.section-storage-services {
  margin-top: 100px;
}
main.storage-services .bread-crumbs {
  padding-top: 4px;
}
.section-storage-services h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
  margin-left: 26px;
  color: #2d3a3d;
}
.section-storage-services .row-divisions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  background: #f5f5f5;
}
.section-storage-services .row-divisions .block-btn {
  padding: 30px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.section-storage-services .grid {
  display: grid;
  display: none;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}
.section-storage-services .grid.division-2 {
  grid-template-columns: 1fr 1fr;
}
.section-storage-services .grid .block {
  display: grid;
  border: 1px solid #bfc0c3;
}
.section-storage-services .grid.division-1 .block#order3 {
  background: #004d5680;
}
.section-storage-services .grid.division-1 .block#order3 h3 {
  color: #fff;
}

.section-storage-services .grid .block h3 {
  padding: 30px;
  padding-bottom: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #2d3a3d;
}
.section-storage-services .grid .block img {
  margin-left: auto;
  margin-top: 31px;
}

@media only screen and (max-width: 768px) {
  .section-storage-services {
    padding: 0 20px;
    margin-top: 40px;
  }
  .section-storage-services h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .section-storage-services .row-divisions {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    background: none;
  }
  .section-storage-services .row-divisions .block-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
  .section-storage-services .grid {
    grid-template-columns: 1fr;
  }
  .section-storage-services .grid.division-2 {
    grid-template-columns: 1fr;
  }
  .section-storage-services .grid .block {
  }
  .section-storage-services .grid .block h3 {
    padding: 20px;
    padding-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .section-storage-services .grid .block img {
    width: 100px;
  }
}

.section-storage-personal-belongings {
  margin-top: 31px;
}

.section-storage-personal-belongings h1 {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 26px;
}

.section-storage-personal-belongings .row {
  display: flex;
  gap: 10px;
  align-items: center;
}
.section-storage-personal-belongings .row .left-container p {
  padding: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  background: #f5f5f5;
}

@media only screen and (max-width: 768px) {
  main.storage-services .bread-crumbs {
    padding-left: 20px;
  }
  .section-storage-personal-belongings {
    padding: 0 20px;
  }

  .section-storage-personal-belongings h1 {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .section-storage-personal-belongings .row {
    display: block;
  }
  .section-storage-personal-belongings .row .left-container p {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .section-storage-personal-belongings .row img {
    width: 100%;
    margin-top: 10px;
  }
}
